.copyicon i{
	color: #48c774;
}

.copyicon svg{
	color: #48c774;
}
.copyclick{

	background-color: rgb(7, 149, 168);
	color: rgb(209, 209, 209);

}

.copyicon.clicked{
	margin-right: 40px;
}

.copyicon .copytag{
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: .75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap;
  background-color: #fff;
  color: #48c774;
  border: 1px solid #48c774;
}